<main>
  <h1>Timeline from Scratch</h1>
  <app-timeline>
    <app-timeline-card
      *ngFor="let history of history$ | async"
      [class.active]="history.current"
    >
      <div class="container">
        <div class="title">{{ history.title }}</div>
        <div *ngIf="history.user" class="description">
          <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
            /></svg
          >{{ history.user.name }}
        </div>
      </div>
    </app-timeline-card>
  </app-timeline>
</main>
